[Unit]
Description=wechat robot webhook service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wechatrobot --RobotKey=xxxxxx-xxxxx-xxxxx-xxxxxx-xxxxxxx
ExecReload=/bin/kill -HUP $MAINPID

SuccessExitStatus=143
TimeoutStopSec=1
Restart=always

[Install]
WantedBy=multi-user.target