[Unit]
Description=wechat robot webhook service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wechatrobot --RobotKey=xxxxxx-xxxxx-xxxxx-xxxxxx-xxxxxxx
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=5
LimitNOFILE=2048

[Install]
WantedBy=multi-user.target